<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Rechnung eskaliert</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon"/>
    </head>
    <body>
        <p>
            Sie erhalten diese Nachricht, da sie als Ansprechpartner bei dieser Eskalation ausgewählt wurden.
        </p>

        <p>
            <a th:href="@{|${baseUrl}/#/escalation/detail?id=${invoiceProcess.id}|}">Vorgang anzeigen</a>
            
        </p>
        <p>
            <span >Mit freundlichen Grüßen, </span>
            <br/>
            <em>Ihr Rechnungsprüfungssystem</em>
        </p>
    </body>
</html>
